/* src/components/CSS/BannerRight.css */
.banner-right, .banner-left {
  padding: 10px;
  text-align: center;
  margin-top: 0;
  display: inline-block; /* Pode usar display inline-block para que o contêiner se ajuste ao tamanho do conteúdo */
  width: 90%; /* Ajusta a largura para 100% do seu contêiner pai */
  height: auto;
}

.banner-right img, .banner-left-img {
  width: 100%;
  max-width: 300px; /* Ajuste o tamanho máximo conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}


.banner-right a {
  display: block;
  text-decoration: none;
}

.banner-right p {
  font-size: 16px;
  color: #333;
}
